* {
    
  bg     : {{background}};
  border : {{color0}};
  fg0     : {{foreground}};
  fg1     : {{color6}};
  fg2     : {{color8}};
  red     : {{color6}};
  green   : {{color4}};
  yellow  : {{color5}};
  blue    : {{color3}};
  magenta : {{color2}};
  cyan    : {{color1}};

  accent: {{color5}};
  urgent: @yellow;

  background-color : transparent;
  text-color       : @fg0;

}
