
@import "~/.config/rofi/colors.rasi"

* {

  font:   "Pixel Code Regular 11";

  margin  : 0;
  padding : 0;
  spacing : 0;

}

element-icon, element-text, scrollbar {
  cursor: pointer;
}

mainbox{
  padding: 9px 6px 0px 6px;

  background-image: url("../images/base-border.png", width);
}

window {
  location : north;
  anchor   : north;
  width    : 364px;
  height: 375px;

  border-radius: 10px;

  //This one is for doing the effects I do with the pink and the skyblue

  background-image: linear-gradient(90deg,{{color5}}, {{color4}});

}


inputbar {
  spacing  : 8px;
  padding  : 4px 8px;
  children : [ entry ];

  border: 0px 0px 1px 0px;

  border-color: @border;
}


icon-search, entry, element-icon, element-text {
  text-color: @fg1;
}


textbox {
  padding          : 4px 8px;
  background-color : @bg;
}

listview {
  padding      : 0px 0px;
  lines        : 12;
  columns      : 1;
  fixed-height : true;
}

element {
  padding : 4px 8px;
  margin: 0px;
  spacing : 8px;
}

element normal urgent {
  text-color: @urgent;
}

element normal active {
  text-color: @accent;
}


element selected {
  text-color: @fg2;
}

element selected urgent {
  background-color: @urgent;
}

element-icon {
  size: 0.8em;
}

element-text {
  text-color: inherit;
}
 
