* {
    
  bg     : #131413;
  border : #3B3B3B;
  fg0     : #F8F8F9;
  fg1     : #EBECEF;
  fg2     : #A6A6A7;
  red     : #EBECEF;
  green   : #73B1B2;
  yellow  : #D3A197;
  blue    : #88898F;
  magenta : #7F5E54;
  cyan    : #4F5856;

  accent: #D3A197;
  urgent: @yellow;

  background-color : transparent;
  text-color       : @fg0;

}
