* {
    
  bg     : #1F1E1D;
  border : #464544;
  fg0     : #F6F6F4;
  fg1     : #E6E6E1;
  fg2     : #A4A4A2;
  red     : #E6E6E1;
  green   : #C99260;
  yellow  : #A998BA;
  blue    : #6F6E69;
  magenta : #B4403B;
  cyan    : #50508C;

  accent: #A998BA;
  urgent: @yellow;

  background-color : transparent;
  text-color       : @fg0;

}
