* {

  font:   "Pixel Code Regular 11";

  bg     : #272336;
  border : #3A385D;
  fg0     : #6E828F;
  fg1     : #00F7FD;
  fg2     : #FF74E0;
  red     : #FF74E0;
  green   : #9ece6a;
  yellow  : #e0af68;
  blue    : #7aa2f7;
  magenta : #9a7ecc;
  cyan    : #4abaaf;

  accent: #3A385D;
  urgent: @yellow;

  background-color : transparent;
  text-color       : @fg0;

  margin  : 0;
  padding : 0;
  spacing : 0;
}

element-icon, element-text, scrollbar {
  cursor: pointer;
}

mainbox{
  background-color: @bg;
}

window {
  location : north;
  anchor   : north;
  width    : 512px;

  background-color: @bg;
  border: 3px;
  //This one is for doing the effects I do with the pink and the skyblue
  background-image: linear-gradient(to right,#FF74E0,#00F7FD);
}

inputbar {
  spacing  : 8px;
  padding  : 4px 8px;
  children : [ entry ];

  border: 0px 0px 1px 0px;
  border-color: @border;
  background-color: @bg;
}




icon-search, entry, element-icon, element-text {
  text-color: @fg1;
}


textbox {
  padding          : 4px 8px;
  background-color : @bg;
}

listview {
  padding      : 0px 0px;
  lines        : 12;
  columns      : 1;
  fixed-height : false;
  dynamic      : true;
}

element {
  padding : 4px 8px;
  spacing : 8px;
}

element normal urgent {
  text-color: @urgent;
}

element normal active {
  text-color: @accent;
}

element alternate active {
  text-color: @accent;
}

element selected {
  text-color       : @fg2;
  background-color : @accent;
}

element selected urgent {
  background-color: @urgent;
}

element-icon {
  size: 0.8em;
}

element-text {
  text-color: inherit;
}

